/* Color Theme Swatches in HSLA */
$e0630e: hsla(210, 49, 40, 1);
$green: #336633;
$yellow: #beb860;
$bright_yellow: hsla(55, 57, 64, 1);
$white: hsla(0, 0, 100, 1);

/* ROBOTO: Light, Regular, Bold, Black */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=latin-ext');

/* GENERAL */
body {
    font-family: 'PT Serif', Serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

.navbar-brand {
    font-family: 'Rufina', Serif;
    color: #fff;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.75rem;
    line-height: inherit;
    white-space: nowrap;
  }
  
  .navbar-light .navbar-brand {
    color: rgba(49, 49, 49, 1);
  }

  a {
    color: rgba(49, 49, 49, 1);
    text-decoration: none;
    &:hover {
      color: $e0630e;
      text-decoration: none;
    }
    &:focus {
      color: $e0630e;
      text-decoration: none;
    }
    &:active {
      color: $e0630e;
      text-decoration: none;
    }
  }
  
  .navbar-light:hover .navbar-brand:hover, .navbar-light:focus .navbar-brand:focus {
    color: rgba(49, 49, 49, 0.8);
  }


  .navbar-light .navbar-toggler-icon {
    background-image: url("../img/menu.svg");
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: $green;
    text-decoration: underline;
  }

  .nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
  }

  .bg-light {
    background-color: #fff !important;
  }

  .navbar-light .navbar-toggler {
    color: $green;
    border-width: 0px;
    border-color: $green;
  }

  .bg-dark {
    background-color: rgb(53, 53, 53) !important;
  }

  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: right;
    align-items: right;
  }